.contacts_inner {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0 2rem;
    padding: 0 5rem;
}

.contacts_inner > h1 {
    font-weight: 700;
    font-size: 72px;
    color: #1946BA;
}

.contacts {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact > h3 {
    font-size: 16px;
    color: #1946BA;
}

.contacts_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}